@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.content{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
}
.card{
    height: auto;
    width: 80%;
    max-width: 1300px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: rgb(16, 3, 51);
}
.plan{
    width: 28%;
    display: flex;
    max-width: 300px;
    flex-direction: column;
    gap: 40px;
    flex: 1 1 300px;
}
.price{
    display: flex;
    align-items: center;
}
.price:nth-child(1){
    font-weight: 700;
    font-size: 20px;
}
.cost{
    font-size: 50px;
}
.condition{
    font-size: 13px;
    font-weight: 400;
}
.description{
    font-weight: 700;
}
.pack-button{
    height: 40px;
    width: 100%;
    border: 0px solid black;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.start-now{
    background-color: pink;
}
.buy-it{
    background-color: aquamarine;
}
.trial{
    background-color: coral;
}
@media screen and (max-width: 1140px) {
    .card{
        flex-direction: column;
        justify-content: center;
    }
    .plan{
        max-width: none;
        width: 70%;
        display: flex;
        align-items: center;
    }
    .price{
        justify-content: center;
    }
}
